---
layout: default
title: rifkifau personal blog
desc: Personal Blog Github Pages Rifki Fauzi / WebGIS Enthusiast Yogyakarta Indonesia / Kumpulan Proses Belajar Rifkifau / Berbagi Pengalaman Cerita Foto Jepretan
keywords: personal blog, github pages, rifki fauzi, rifkifau, webgis peta digital, yogyakarta indonesia, berbagi, pengalaman, cerita, foto, gambar, tutorial
comments: false
---

<div class="home" id="home">
  <h1 class="pageTitle">Recent Posts</h1>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt | strip_html | truncatewords:70 }}</p>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
